@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* cor textos */
    --gray-1: #333333;
    --gray-2: #4f4f4f;

    --white-1: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    padding: 16px;
    font-family: "Space Mono", monospace;
    background-color: var(--white-1);
}

.top-info {
    padding: 40px 77px;
}

.top-info p {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: var(--gray-1);
}

.container {
    /* max-width: 1080px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section__image {
    max-width: 30rem;
    position: relative;
    animation: animarpersonagem 3s;
    animation-iteration-count: infinite;
}

@keyframes animarpersonagem {
    0% {top: 0px;}
    50% {top: -10%;}
    100% {top: 0px;}
}

.section__description {
    display: flex;
    flex-direction: column;
}

.titulo-description {
    max-width: 586px;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 95px;
    letter-spacing: -0.035em;

    margin-bottom: 36px;
    /* Gray 1 */
    color: var(--gray-1);
}

.texto-description {
    max-width: 381px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: -0.035em;

    margin-bottom: 64px;
    /* Gray 2 */
    color: var(--gray-2);
}

.botao-description {
    max-width: 216px;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 21px;

    padding: 24px 43px;

    /* identical to box height */
    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
    background: var(--gray-1);
    transition: background 0.5s;
}

.botao-description:hover {
    background: var(--gray-2);
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 20px 0;
}

footer a {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 17px;

    /* identical to box height */
    color: var(--gray-1);
}


@media screen and (max-width: 800px) {

    .top-info {
        padding: 20px 24px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}